body {
    font-family: 'Azonix', sans-serif;
    background-color: rgb(25, 83, 158);
}
p {
    color: whitesmoke;
}
h1 {
    height: 100px;
    width: 50px;
    font-size: 75px;
}
button {
  width: 100px;
  height: 50px;
  background-color: gray;
  color: ghostwhite;
  font-size: medium;
  border-radius: 20px;
  border-bottom: 3px solid;
}